body {
  font-family: Arial, sans-serif;
}

.container1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 120px;
  margin-top: 30px;
  left: 43%;
  white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  font-size: 16px;
  width: calc(100% - 12px);
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.static-box {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.line {
  border-top: 1px solid #000;
  margin: 10px 0;
}

.barcode {
  display: block;
  margin-top: 5px;
}

.top-right-box {
  position: absolute;
  top: 10px; 
  right: 10px; 
  border: 1px solid black; 
  padding: 5px 10px; 
  font-weight: bold; 
  height: 6in;
  width: 4in;
  
  
}
